<html>

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/文法注疏/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha256-93wNFzm2GO3EoByj9rKZCwGjAJAwr0nujPaOgwUt8ZQ=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css"
    integrity="sha256-cAyk5KZc7P6j7j/uL7MOoN4PRsZYp+BN9yo03Y6Qk38=" crossorigin="anonymous">
  <style>
    html,
    body {
      max-width: 100%;
      overflow-x: hidden;
    }

    .NOBORDER {
      box-shadow: none;
      padding: 0px 10px 0px 0px;
    }

    .vertical_center {
      margin-top: 25px;
      transform: translateY(-50%);
    }  
    /* ↑navbar需要 */

    h3 {color: #0097e8;}
    p {color: #003b93;}
    .bg-info {background-color: rgb(43, 190, 254)!important;}
  </style>
</head>

<body>
  <div id="app">
    <!-- ↓标题栏。 -->
    <div style="border-bottom: 5px solid #0097e8;">
      <b-navbar toggleable="lg" type="light" variant="info" class="NOBORDER">
        <b-navbar-brand href="/syntax/" class="NOBORDER"><img src="/static/文法注疏/topleftVision.svg" class="d-inline-block align-top"
            height="50px" style="filter: drop-shadow(1px 1px 8px #004293);"/></b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav style="padding: 0px 10px 0px 10px;">

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item href="/syntax/about">关于</b-nav-item>
            <b-nav-item href="/syntax/pop-science-syntax">句法分析科普</b-nav-item>

            <b-nav-item-dropdown text="使用说明" right>
              <b-dropdown-item href="/syntax/usage">本网站能用来干啥</b-dropdown-item>
              <b-dropdown-item href="/syntax/method">使用方法</b-dropdown-item>
              <b-dropdown-item href="/syntax/fee">费用</b-dropdown-item>
              <b-dropdown-item href="/syntax/notes">注意事项</b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item-dropdown right>
              <!-- Using 'button-content' slot -->
              <template #button-content>
                <em>
                  <span v-if="! isLoggedIn">登录/注册</span>
                  <span v-if="isLoggedIn">已登录 | 我的账户</span>
                  <svg viewBox="785 321 40 40" width="19px" height="19px" class="align-text-bottom">
                    <g id="Canvas_1" stroke="none" stroke-opacity="1" fill="none" stroke-dasharray="none"
                      fill-opacity="1">
                      <title>Canvas 1</title>
                      <g id="Canvas_1_Layer_1">
                        <title>Layer 1</title>
                        <g id="Graphic_2">
                          <title>Account Circle</title>
                          <path
                            d="M 805 321 C 793.96 321 785 329.96 785 341 C 785 352.04 793.96 361 805 361 C 816.04 361 825 352.04 825 341 C 825 329.96 816.04 321 805 321 Z M 805 327 C 808.32 327 811 329.68 811 333 C 811 336.32 808.32 339 805 339 C 801.68 339 799 336.32 799 333 C 799 329.68 801.68 327 805 327 Z M 805 355.4 C 800 355.4 795.58 352.84 793 348.96 C 793.06 344.98 801 342.8 805 342.8 C 808.98 342.8 816.94 344.98 817 348.96 C 814.42 352.84 810 355.4 805 355.4 Z"
                            fill="#346" />
                        </g>
                      </g>
                    </g>
                  </svg>
                </em>
              </template>
              <b-dropdown-item v-if="isLoggedIn" href="/syntax/account-info">基本信息</b-dropdown-item>
              <b-dropdown-item v-if="isLoggedIn" @click="logout">退出登录</b-dropdown-item>
              <b-dropdown-item v-if="! isLoggedIn" @click="$bvModal.show('bv-modal-login')">登录</b-dropdown-item>
              <b-dropdown-item v-if="! isLoggedIn" @click="$bvModal.show('bv-modal-signup')">注册新用户</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>


    <div class="row" style="padding: 16px 0 0;">
      <div class="col-md-8 order-md-2 col-xl-6" style="background-color:#fff;">
        <div style="padding: 15px;">
        <!-- 中间栏。 -->
        <br><br>
        <h3>🔭使用方法</h3><br>
        <b-list-group style="color: #173767; border-color: #0097e8;">
          <b-list-group-item><h5>句法分析使用方法</h5>仅需打开主页（点击左上logo），输入或粘贴句子，点击对应语种的分析按钮，即可看到搜索结果。鼠标滑过搜索结果即可让语法结构按层级显示；点击语法结构即可高亮展示；点击外文词汇可以搜索词典。</b-list-group-item>
          <b-list-group-item><h5>点击语法结构高亮展示效果</h5>点击语法结构后，网站会自动将选中区域文本复制到您的剪贴板。且此时网站自动判定您已选中本段文本，可以直接利用系统功能阅读这段文本听取发音。<br><br>按esc键可以退出高亮模式；在右边栏点击关闭按钮可以仅退出边栏不取消高亮。</b-list-group-item>
          <b-list-group-item><h5>快捷键</h5>
            按option+tab或alt+tab，可以将光标focus移动到输入框处。
            <b-list-group style="color: #0e626c; border-color: #00d1e8;text-align: left;">
              <b-list-group-item style="background-color:#eaf2fc;"><h5>按原文语种分析</h5>快捷键：回车键(需将光标移出输入框，不然只会输入换行) 或 shift+ctrl+S 或 alt+ctrl+S 或 command+ctrl+S 或 f1</b-list-group-item>
              <b-list-group-item style="background-color:#eaf2fc;"><h5>翻译至中文后分析</h5>快捷键：shift+回车键 或 shift+ctrl+C 或 alt+ctrl+C 或 command+ctrl+C 或 f2</b-list-group-item>
              <b-list-group-item style="background-color:#eaf2fc;"><h5>翻译至英文后分析</h5>快捷键：shift+ctrl+E 或 alt+ctrl+E 或 command+ctrl+E 或 f3</b-list-group-item>
              <b-list-group-item style="background-color:#eaf2fc;"><h5>翻译至日文后分析</h5>快捷键：shift+ctrl+J 或 alt+ctrl+J 或 command+ctrl+J 或 f4</b-list-group-item>
            </b-list-group>
          </b-list-group-item>
          <b-list-group-item><h5>URL params 访问后直接自动查询</h5>您可以在主页链接后附URL params，例如 https://website_homepage/syntax/?text="I love you."&mode=1 。mode 1-4分别为原文、中文、英文、日文。text需用escapeURI规则过滤，以便在url中使用。请注意text必须用双引号""包裹、用json格式dump，否则报错。【由于url parse无法正确分割&，text中的&符号需要替换成"[*aND|]"。】</b-list-group-item>
          <b-list-group-item><h5>额度不够如何充值</h5>登录后点击标题栏中“我的账户”&gt;基本信息，在基本信息界面即可看到充值提示。</b-list-group-item>
          <b-list-group-item><h5>小贴士</h5>常来的同志们，建议将网站放入收藏夹哟~<br><br>点击左上角logo可以返回主页搜索界面哟~~<br><br>此外，建议关闭某些浏览器（如safari）的autofill自动填充功能，使输入文本时免受打扰。</b-list-group-item>
        </b-list-group>
        </div>
      </div>
      <div class="col-md-2 order-md-0 col-xl-3" style="background-color:ffffff;">
        广告。注意，bootstrap-vue支持动态随着屏幕大小调整位置。
      </div>
      <div class="col-md-2 order-md-10 col-xl-3" style="background-color:ffffff;">
        广告。注意，bootstrap-vue支持动态随着屏幕大小调整位置。
      </div>
    </div>
    <!-- ↓注册modal。 -->
    <b-modal id="bv-modal-signup" hide-footer>
      <b-overlay :show="busy_connecting_backend" rounded="sm">
        <template #modal-title>
          注册<code>新用户</code>
        </template>
        <div class="d-block text-center">
          <h3>Hello! 欢迎来到文法注疏~~~</h3>
          <span style="color: #0097e8;">本网站支持用户名密码注册登录。<br>用户名密码注册需保存妥善密码，网站不提供找回，密码丢失账户余额将无法追回。</span>
          <br><b-form-input v-model="signup_username" type="username" placeholder="输入独一无二的 用户名~"></b-form-input><br>
          <b-form-input v-model="signup_password" type="password" placeholder="密码"></b-form-input><br>
          <b-form-input v-model="signup_pwdconfirm" type="password" placeholder="再次确认 密码"></b-form-input>
        </div>
        <b-button class="mt-3" block @click="signup">注册</b-button>
        <b-button class="mt-3" variant="danger" block @click="$bvModal.hide('bv-modal-signup')">取消</b-button>
      </b-overlay>
    </b-modal>
    <!-- ↓登录modal。 -->
    <b-modal id="bv-modal-login" hide-footer>
      <b-overlay :show="busy_connecting_backend" rounded="sm">
        <template #modal-title>
          <code>用户登录</code>
        </template>
        <div class="d-block text-center">
          <h3>Hello! 欢迎登录文法注疏~~~</h3>
          <br><b-form-input v-model="signup_username" type="username" placeholder="输入用户名~"></b-form-input><br>
          <b-form-input v-model="signup_password" type="password" placeholder="密码"></b-form-input><br>
        </div>
        <b-button class="mt-3" block @click="login">登录</b-button>
        <b-button class="mt-3" variant="danger" block @click="$bvModal.hide('bv-modal-login')">取消</b-button>
      </b-overlay>
    </b-modal>
  </div>
  <div style="padding: 20px;">
    京ICP备 2333333号。
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js" integrity="sha256-JLmknTdUZeZZ267LP9qB+/DT7tvxOOKctSKeUC2KT6E=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"
    integrity="sha256-kXTEJcRFN330VirZFl6gj9+UM6gIKW195fYZeR3xDhc=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"
    integrity="sha256-duDNIhfVrUK7HB/57nPLxN/j92aM3rhTUFzVI/H5ex8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jssha@2.3.1/src/sha256.js" integrity="sha256-NyuvLfsvfCfE+ceV6/W19H+qVp3M8c9FzAgj72CW39w=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    isLoading = false
    var app = new Vue({
      el: '#app',
      data: {
        isLoggedIn: {[{is_Logged_In}]},
        busy_connecting_backend: false,
        query_txt: '',
        signup_username: '',
        signup_password: '',
        signup_pwdconfirm: '',
        others_search: []
      },
      mounted() {},
      methods: {
        signup: function () {
          if (this.signup_username.length < 2) {window.alert("用户名长度不得小于2位，请重新输入！"); return;}
          if (this.signup_password.length < 5) {window.alert("密码长度不得小于5位，请重新输入！"); return;}
          if (this.signup_password != this.signup_pwdconfirm) {window.alert("两次密码输入不一致，请检查输入！"); return;}
          this.busy_connecting_backend = true
          console.log("sign up.", this.signup_username, this.signup_password, this.signup_pwdconfirm);
          var hashObj = new jsSHA("SHA-256", "TEXT", {numRounds: 1});
          hashObj.update(this.signup_username+this.signup_password+"salter2333");
          var hash = hashObj.getHash("HEX");
          console.log('generated login auth:', hash);
          axios.post('/syntax/sign-up',{
            username: this.signup_username,
            auth: hash,
          }).then(function (response) {
            // console.log(response);
            // console.log(response.data);
            signup_state = response.data;
            app.busy_connecting_backend = false;
            if (signup_state == 'conflict_username') {window.alert("您的用户名已被他人占用，请重新输入！\n（推荐使用微信登录避免用户名冲突）"); return;}
            app.$bvModal.hide('bv-modal-signup');
            window.alert("已注册成功！\n请等待自动登录"); 
            app.login();
          }).catch(function (error) {
            console.log(error);
          })
        },
        login: function () {
          if (this.signup_username.length < 2) {window.alert("用户名长度不得小于2位，请重新输入！"); return;}
          if (this.signup_password.length < 5) {window.alert("密码长度不得小于5位，请重新输入！"); return;}
          console.log("log in.");
          var hashObj = new jsSHA("SHA-256", "TEXT", {numRounds: 1});
          hashObj.update(this.signup_username+this.signup_password+"salter2333");
          var hash = hashObj.getHash("HEX");
          console.log('generated login auth:', hash, 'connecting to backend...');
          this.busy_connecting_backend = true;
          axios.post('/syntax/log-in',{
            username: this.signup_username,
            auth: hash,
          }).then(function (response) {
            // console.log(response);
            // console.log(response.data);
            login_state = response.data;
            app.busy_connecting_backend = false;
            if (login_state != 'ok') {
              if (login_state == 'already_logged_in') {window.alert("当前用户已经登录。出现此提示应为前端错误，请您刷新网页。");return;}
              if (login_state == 'nosignup') {window.alert("当前用户尚未注册。请您先注册哟~");return;}
              window.alert("登录失败，应是用户名或密码错误。请检查输入~\n未注册需先注册。");return;
            }
            app.$bvModal.hide('bv-modal-login');
            app.isLoggedIn = true;
            window.alert("登录成功！"); 
          }).catch(function (error) {
            console.log(error);
          })
        },
        logout: function () {
          console.log("log out.");
          axios.post('/syntax/log-out',{}).then(function (response) {
            app.isLoggedIn = false;
            window.alert("退出登录成功！"); 
          }).catch(function (error) {
            console.log(error);
          })
        },
      }
    })
  </script>
</body>

</html>